<blockquote class="quote">
  <p class="quote__text">
    Lorem, ipsum dolor sit amet consectetur adipisicing elit. Mollitia quis
    tempore voluptatum quaerat cum, cupiditate magni omnis sapiente quos vitae
    laudantium, placeat distinctio et provident sequi ad suscipit quae
    blanditiis incidunt, ducimus impedit? Facilis quia, nihil voluptate repellat
    non illum porro ratione officia minus error quisquam, quibusdam sequi labore
    quos.
  </p>
  <footer>
    <div class="media">
      <div class="media__image">
        <svg class="icon icon--primary quote__image">
          <use xlink:href="./images/sprite.svg#line"></use>
        </svg>
      </div>
      <div class="media__body">
        <h3 class="media__title quote__name">Jhone Lumeo</h3>
        <p class="quote__orginization">Mosh Company ceo</p>
      </div>
    </div>
  </footer>
</blockquote>
